#ifndef {{nom}}_STRUCT_H
#define {{nom}}_STRUCT_H

{{#includes}}
#include {{{.}}}
{{/includes}}

{{#namespaces}}
namespace {{.}} {
{{/namespaces}}
struct {{nom}}{
   {{#struct}}
   {{pre}} {{type}} {{post}} {{tag}};
   {{/struct}}
   {{^constructors}}
   {{^default}}
   {{nom}}();
   {{/default}}
   {{/constructors}}
};

{{^operators}}
{{^lt}}
bool operator<(const {{nom}}& lhs, const {{nom}}& rhs);
{{/lt}}
{{^gt}}
bool operator>(const {{nom}}& lhs, const {{nom}}& rhs);
{{/gt}}
{{^le}}
inline bool operator<=(const {{nom}}& lhs, const {{nom}}& rhs);
{{/le}}
{{^ge}}
bool operator>=(const {{nom}}& lhs, const {{nom}}& rhs);
{{/ge}}
{{^eq}}
bool operator==(const {{nom}}& lhs, const {{nom}}& rhs);
{{/eq}}
{{^ne}}
bool operator!=(const {{nom}}& lhs, const {{nom}}& rhs);
{{/ne}}
{{/operators}}


{{#namespaces}}
  }
{{/namespaces}}

#endif
